<div class="container">
    <h2>Lista de Autores</h2>
    <button class="btn btn-primary mb-3" [routerLink]="['/autores/criar']">Novo Autor</button>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors">
          <td>{{ author.id }}</td>
          <td>{{ author.name }}</td>

          <td>
            <button class="btn btn-warning" (click)="onEdit(author.id)">Editar</button>
            <button class="btn btn-danger" (click)="onDelete(author.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  