<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3 border rounded shadow-sm bg-light">
    <div class="mb-3">
      <label for="saletypeName" class="form-label">Descrição do Tipo de venda</label>
      <input
        type="text"
        id="saletypeName"
        formControlName="description"
        class="form-control"
        placeholder="Digite a descrição do tipo de venda"
        maxlength="20"
        [ngClass]="{ 'is-invalid': form.get('description')?.invalid && form.get('description')?.touched }"
      />
      <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="invalid-feedback">
        A descrição do tipo de venda.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salvar</button>
  </form>